
/* Using Google Fonts */
body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* background-image: radial-gradient(ellipse at bottom, hsl(214, 47%, 23%), transparent); */
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #FCFFFF;
}
