
/* Using Google Fonts */
body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* background-image: radial-gradient(ellipse at bottom, hsl(214, 47%, 23%), transparent); */
  background-color: rgb(29,52,84);
  color: #FCFFFF;
}
